<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
        {# import bootstrap styles #}
        <link href="{{ asset('css/bootstrapOverrides.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {# library web app banner #}
        <div class = "jumbotron">
			<div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4 centered">
                    <img id="logo" src="{{asset('images/logo.png')}}" style="width:25em; padding-top:3em" />
                </div>
				{% if app.session.has('user') %}
					<div class="col-md-4 centered">
						{{app.session.get('user').getUsername()}}
						{% if app.session.get('user').getLibrarian() %}
							 (librarian)
						{% else %}
							 (student)
						{% endif %}<br/>
                        <a class="headerLink" href="{{path('logout')}}">logout</a>
					</div>
					
				{% endif %}
            </div>
        </div>

        {# body (this twig is extended) #}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
