{% block body %}

    {# table representing library #}
	<table class="table">
	<tr>
		{% for i in 1..10 %}
			<td>Shelf {{i}}</td>
		{% endfor %}
	</tr>

    {# read the book_matrix (10 by 10) from the session #}
	{% set book_matrix = app.session.get('book_matrix') %}

    {# loop through and display books currently in library #}
    {% for i in 1..10 %}
    	<tr>
    		{% for j in 1..10 %}
    			<td>
    				{% if book_matrix[j][i] is defined %}
    					<a href="{{path('getBookDetails', {'bookid': book_matrix[j][i].getBookid(), 'copyid' : book_matrix[j][i].getCopyid()})}}">
    						{{app.session.set('bookid', book_matrix[j][i].getBookid())}}
    						{{render(path('getTitle'))}}
    					</a>
    				{% else %}
    					...
    				{% endif %}
    			</td>
    		{% endfor %}
    	</tr>
    {% endfor %}

    {# if user is a librarian, they can add a book via a form #}
    {% if app.session.get('user').getLibrarian() %}
        <div class="col-md-4">
        </div>
        <div class="col-md-4 centered">
            <br/>
        	<form name="addbook" action="{{path('addBook')}}" method="post">
                <div class="input-group detail">
                    <span class="input-group-addon">Book ID</span>
                    <input type="text" class="form-control" name="bookid"><br>
                </div>
                <br/>
                <div class="input-group detail">
                    <span class="input-group-addon">Book Name</span>
                    <input type="text" class="form-control" name="name"><br>
                </div>
                <br/>
                <div class="input-group detail">
                    <span class="input-group-addon">Book Author</span>
                    <input type="text" class="form-control" name="author"><br>
                </div>
                <br/>
                <div class="input-group detail">
                    <span class="input-group-addon">Number of Copies</span>
                    <input type="text" class="form-control" name="numcopies"><br>
                </div>
                <br/>

    			<input type="submit" class="btn btn-default" value="Add Book"><br/>
    		</form>
        </div>
    {% endif %}

{% endblock %}
